@inherits BlazorLayoutComponent
@inject Services.UserIdentityService Http

<div class="sidebar">
    <NavMenu LoggedIn="@Http.IsUserLogged()"/>
</div>

<div class="main">
    <div class="top-row px-4" style="z-index: 4">
    @if (@Http.IsUserLogged())
    {
        <p>Hi @Http.Username</p>
    }
        <a href="https://github.com/meanin/candidate-evaluator/blob/master/README.md" target="_blank" class="ml-md-auto">About Candidate Evaluator</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
