@inherits BlazorLayoutComponent
@inject Services.UserIdentityService Http

<div class="sidebar">
    <NavMenu LoggedIn="@string.IsNullOrWhiteSpace(Http.Username)"/>
</div>

<div class="main">
    <div class="top-row px-4">
    @if (string.IsNullOrWhiteSpace(Http.Username))
    {
        <p>Hi @Http.Username</p>
    }
        <a href="https://github.com/meanin/candidate-evaluator/blob/master/README.md" target="_blank" class="ml-md-auto">About Blazor</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
