<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">CandidateEvaluator</a>
    <button class="navbar-toggler" onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class=@(_collapseNavMenu ? "collapse" : null) onclick=@ToggleNavMenu>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match=NavLinkMatch.All>
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        @if (!LoggedIn)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="login">
                    <span class="oi oi-lock-locked" aria-hidden="true"></span> Login
                </NavLink>
            </li>
        }
        else
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="dashboard">
                    <span class="oi oi-lock-unlocked" aria-hidden="true"></span> Dashboard
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="category">
                    <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Category
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="interview">
                    <span class="oi oi-book" aria-hidden="true"></span> Interview
                </NavLink>
            </li>
        }
    </ul>
</div>

@functions {
[Parameter]
bool LoggedIn { get; set; }

bool _collapseNavMenu = true;

void ToggleNavMenu()
{
    _collapseNavMenu = !_collapseNavMenu;
}
}
