@using CandidateEvaluator.Common.Requests.Question
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
        @Type.ToString()
    </button>
    <div class="dropdown-menu">
        @foreach (var type in _questionTypeNames)
        {
            <button class="dropdown-item" onclick="@(c => Set(type))">@type</button>
        }
    </div>
</div>


@functions 
{
    CreateQuestionRequest.QuestionType Type { get; set; }

    [Parameter]
    Action<CreateQuestionRequest.QuestionType> TypeChanged { get; set; }

    private List<string> _questionTypeNames;
    protected override void OnInit()
    {
        _questionTypeNames = Enum.GetNames(typeof(CreateQuestionRequest.QuestionType)).ToList();
    }

    private void Set(string type)
    {
        Type = (CreateQuestionRequest.QuestionType) Enum.Parse(typeof(CreateQuestionRequest.QuestionType), type);
        TypeChanged(Type);
    }
}
