@using CandidateEvaluator.Common.Types
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
        @Type.ToString()
    </button>
    <div class="dropdown-menu">
        @foreach (var type in _questionTypeNames)
        {
            <button class="dropdown-item" @onclick="(c => Set(type))">@type</button>
        }
    </div>
</div>


@code
{
    QuestionType Type { get; set; }

    [Parameter]
    public Action<QuestionType> TypeChanged { get; set; }

    private List<string> _questionTypeNames;
    protected override Task OnInitializedAsync()
    {
        _questionTypeNames = Enum.GetNames(typeof(QuestionType)).ToList();
        return Task.CompletedTask;
    }

    private void Set(string type)
    {
        Type = (QuestionType)Enum.Parse(typeof(QuestionType), type);
        TypeChanged(Type);
    }
}
