@page "/question/new"
@using Microsoft.AspNetCore.Blazor.Services
@inject Services.UserIdentityService Http
@inject IUriHelper UriHelper

@if (_categoryModels == null)
{
    <p><em>Loading...</em></p>

}
else
{
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
            @if (_selectedCategory == null)
            {
                <span>Select category</span>
            }
            else
            {
                <span>@_selectedCategory.Name</span>

            }
        </button>
        <div class="dropdown-menu">
            @foreach (var category in _categoryModels)
            {
                <button class="dropdown-item" onclick="@(c => _setSelectedCategory(category))">@category.Name</button>
            }
        </div>
    </div>
}

<a href="/question" class="btn">Go back</a>

@functions
{
private List<Contract.Models.Category> _categoryModels;

private Contract.Models.Category _selectedCategory;

protected override async Task OnInitAsync()
{
    try
    {
        _categoryModels = await Http.AuthorizedGetJsonAsync<List<Contract.Models.Category>>("api/category");
    }
    catch (Exception e)
    {
        UriHelper.NavigateTo("/");
    }
}

private void _setSelectedCategory(Contract.Models.Category category)
{
    _selectedCategory = category;

}
}