@page "/category/{categoryId:guid}/questions"
@using CandidateEvaluator.Common.Responses.Question
@using Microsoft.AspNetCore.Blazor.Services
@inject Services.UserIdentityService Http
@inject IUriHelper UriHelper

<div>
    <a href="/question/create" class="btn">Create new question</a>
</div>

@if (_questionModels != null)
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var question in _questionModels)
            {
                <tr>
                    <td class="align-middle">@(_questionModels.IndexOf(question)+1)</td>
                    <td class="align-middle">@question.Id</td>
                    <td class="align-middle">@question.Name</td>
                    <td class="align-middle">
                        <a class="col-md-3 btn btn-block btn-success m-1" href="/question/@question.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>No questions found!</div>
}


@functions
{
[Parameter]
private Guid CategoryId { get; set; }

private List<QuestionResponse> _questionModels;
protected override async Task OnInitAsync()
{
    try
    {

        _questionModels = await Http.AuthorizedGetJsonAsync<List<QuestionResponse>>($"api/question/?categoryid={CategoryId}");
    }
    catch
    {
        UriHelper.NavigateTo("/");
    }

}
}