@page "/question"
@using Microsoft.AspNetCore.Blazor.Services
@inject Services.UserIdentityService Http
@inject IUriHelper UriHelper

<div>
    <a href="question/new" class="btn">Create new question</a>
</div>

@functions
{

}