@page "/question/{id:guid}"
@using CandidateEvaluator.Common.Requests.Question
@using CandidateEvaluator.Common.Responses.Question
@using CandidateEvaluator.Common.Types
@using Microsoft.AspNetCore.Blazor.Services
@inject Services.UserIdentityService Http
@inject IUriHelper UriHelper

@if (_updateRequest == null)
{
    <p><em>Loading...</em></p>

}
else
{
    <a href="/question" class="btn">Go back</a>
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" bind=@_updateRequest.Name placeholder="Enter question name..." />
    </div>
    <div>
        <textarea class="form-control" rows="4" bind=@_updateRequest.Text placeholder="Enter question" />
    </div>
    <QuestionTypeDropdown TypeChanged="@SetType" />
    <div class="row">
        <button class="col-md-3 btn btn-block btn-success m-1" onclick="@Save">Save</button>
        <button class="col-md-3 btn btn-block btn-danger m-1" onclick="@Delete">Delete</button>
    </div>
}

@functions
{
    [Parameter]
    private Guid Id { get; set; }

    private UpdateQuestionRequest _updateRequest;

    protected override async Task OnInitAsync()
    {
        try
        {
            var response = await Http.AuthorizedGetJsonAsync<QuestionResponse>($"api/question/{Id}");
            _updateRequest = new UpdateQuestionRequest
            {
                Id = response.Id,
                CategoryId = response.CategoryId,
                Name = response.Name,
                Type = response.Type,
                Text = response.Text
            };
        }
        catch
        {
            UriHelper.NavigateTo("/");
        }
    }

    private void SetType(QuestionType type)
    {
        _updateRequest.Type = type;
        StateHasChanged();
    }

    private async Task Save()
    {
        try
        {
            await Http.AuthorizedPostJsonAsync<Guid>($"api/question/{_updateRequest.Id}", _updateRequest);
            UriHelper.NavigateTo($"/question/{Id}");
        }
        catch
        {
            UriHelper.NavigateTo("/");
        }
    }

    private async Task Delete()
    {
        try
        {
            await Http.AuthorizedDeleteAsync($"api/question/{_updateRequest.Id}");
            UriHelper.NavigateTo("/question");
        }
        catch
        {
            UriHelper.NavigateTo("/");
        }
    }
}