@page "/category/{id:guid}"
@using CandidateEvaluator.Client.Services
@using CandidateEvaluator.Common.Requests.Category
@using CandidateEvaluator.Common.Responses.Category
@inject UserIdentityService Http
@inject Microsoft.AspNetCore.Components.IUriHelper UriHelper

@if (_request == null)
{
    <p><em>Loading... @Id</em></p>
}
else
{
    <h1>Category: @_request.Id</h1>
    <input placeholder="Loading..." bind="@_request.Name" />

    <button class="btn btn-info" @onclick="Save">Save</button>
    <button class="btn btn-info" @onclick="Delete">Delete</button>
    <a href="/category" class="btn btn-info">Return</a>
}


@code
{
    [Parameter]
    public Guid Id { get; set; }

    private UpdateCategoryRequest _request;

    protected override async Task OnInitializedAsync()
    {
        var dto = await Http.AuthorizedGetJsonAsync<CategoryResponse>($"api/Category/{Id}");
        _request = new UpdateCategoryRequest
        {
            Id = dto.Id,
            Name = dto.Name
        };
    }

    private async Task Save()
    {
        var modelId = await Http.AuthorizedPostJsonAsync<Guid>($"api/Category/{Id}", _request);
        UriHelper.NavigateTo($"/category/{modelId}");
    }

    private async Task Delete()
    {
        await Http.AuthorizedDeleteAsync($"api/Category/{Id}");
        UriHelper.NavigateTo("/category");
    }
}
