@page "/category/new"
@using CandidateEvaluator.Client.Services
@using CandidateEvaluator.Common.Requests.Category
@inject UserIdentityService Http
@inject Microsoft.AspNetCore.Blazor.Services.WebAssemblyUriHelper UriHelper

<h1>Create new category</h1>

<input placeholder="Fill me name..." bind="@_request.Name" />

<button class="btn btn-info" @onclick="Save">Save</button>
<a href="/category" class="btn btn-info">Return</a>


@code
{
    private readonly CreateCategoryRequest _request = new CreateCategoryRequest
    {
        Name = string.Empty
    };

    private async Task Save()
    {
        try
        {
            var categoryId = await Http.AuthorizedPostJsonAsync<Guid>("api/Category", _request);
            UriHelper.NavigateTo($"/category/{categoryId}");
        }
        catch
        {
            UriHelper.NavigateTo("/");
        }
    }
}
