@page "/category/new"
@using CandidateEvaluator.Client.Services
@inject UserIdentityService Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<h1>Create new category</h1>

<input placeholder="Fill me name..." bind="@_categoryModel.Name" />

<button class="btn btn-info" onclick="@Save">Save</button>
<a href="/category" class="btn btn-info">Return</a>


@functions
{
private Contract.Models.Category _categoryModel = new Contract.Models.Category
{
    Id = Guid.Empty,
    Name = string.Empty
};

private async Task Save()
{
    var categoryId = await Http.AuthorizedPostJsonAsync<Guid>("api/Category", _categoryModel);
    UriHelper.NavigateTo($"/category/{categoryId}");
}
}
