@page "/category"
@using CandidateEvaluator.Common.Dtos
@using Microsoft.AspNetCore.Blazor.Services
@inject Services.UserIdentityService Http
@inject IUriHelper UriHelper

@if (_categoryModels == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Name</th>
                <th>Questions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var model in _categoryModels)
            {
                <tr>
                    <td>@(_categoryModels.IndexOf(model)+1)</td>
                    <td>@model.Id</td>
                    <td><a href="/category/@model.Id">@model.Name</a></td>
                    <td><a href="/category/@model.Id/questions"> Questions </a></td>
                </tr>
            }
        </tbody>
    </table>
    <a href="category/new" class="btn">Create new category</a>
}

@functions
{
private List<CategoryDto> _categoryModels;

protected override async Task OnInitAsync()
{
    try
    {
        _categoryModels = await Http.AuthorizedGetJsonAsync<List<CategoryDto>>("api/category");
    }
    catch
    {
        UriHelper.NavigateTo("/");
    }
}
}